<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="!!posts[0] && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imageURL" [alt]="post.title">
    </div>
    {{ post.content }}
    <mat-action-row *ngIf="authenticated && user_id === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit',post.id]" routerLinkActive="router-link-active" >EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="this.postsService.total" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" [pageIndex]="this.postsService.page" (page)="onChangePage($event)" *ngIf="!!posts[0]"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="!posts[0] && !isLoading">No Posts added yet</p>